html, body {
    margin: 0;
    padding: 0;
    background-color: #a9a9a9;
    color: #101010;
    font-family: 'Mononoki', monospace;
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 200%;
}

.outercontainer {
    border: 3px solid rgb(30, 104, 122);
    margin-left: auto;
    margin-right: auto;
    width: 830px;
    background-color: rgb(240, 240, 240);
    text-align: left;
    padding: 20px;
}

.links {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.links a {
    color: #000000;
    text-decoration: underline;

}

.links a:hover {
    color: #246978;
    text-decoration: underline;
}
