/* styles.css */

@font-face {
    font-family: "Mononoki";
    src: url('/resources/fonts/mononoki-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mononoki";
    src: url('/resources/fonts/mononoki-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Mononoki";
    src: url('/resources/fonts/mononoki-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Mononoki";
    src: url('/resources/fonts/mononoki-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

:root {
    --color-primary: #246978;
    --color-secondary: #f2da72;

    --bg-page: #a9a9a9;
    --bg-section: #f0f0f0;
    --bg-code: #ffffff;

    --text-primary: #101010;
}

#animation {
    font-family:"Mononoki", monospace;
    white-space:pre;
    display: block;
    margin: 0 auto;
    line-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-page);
    color: var(--text-primary);
    font-family: 'Mononoki', monospace;
    letter-spacing: 0.3px;
    line-height: 200%;
}

hr {
    width: 100%;
    border-top: 3px solid var(--color-primary);
    margin: 30px 0;
}

code {
    background-color: var(--bg-code);
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-size: 1em;
    color: var(--text-primary);
}

pre code {
    border: 3px solid var(--color-primary);
    border-radius: 0px;
}

.outer-container {
    border: 3px solid var(--color-primary);
    margin: 20px auto;
    padding: 50px;
    width: 830px;
    background-color: var(--bg-section);
    text-align: left;
    box-sizing: border-box;
}

.nav-links {
    margin: 25px 50px;
    text-align: center;
}

.nav-links a {
    color: var(--text-primary);
    text-decoration: underline;
}

.nav-links a:hover {
    color: var(--color-primary);
}

.nav-links a.active {
    font-weight: bold;
}

.content {
    margin: 25px 50px 50px;
    text-align: left;
}

.no-style {
    text-decoration: none;
    color: inherit;
}

.no-style:hover {
    color: var(--color-primary);
}

.img-right {
    float: right;
    margin-left: 10px;
    border: 3px solid var(--color-primary);
}

.img-left {
    float: left;
    margin-right: 10px;
    border: 3px solid var(--color-primary);
}

.card {
    text-decoration: none;
    color: inherit;
}