<!-- components/header.html -->

<div class="nav-links">
    <a href="/projects" data-section="projects" onmouseover="animationSetTitle('Projects', 'projects');" onmouseout="animationClearTitle()">Projects</a>
     . 
    <a href="/publications" data-section="publications" onmouseover="animationSetTitle('Publications', 'publications');" onmouseout="animationClearTitle()">Publications</a>
     . 
    <a href="/books" data-section="books" onmouseover="animationSetTitle('Books', 'books');" onmouseout="animationClearTitle()">Books</a>
     . 
    <a href="/about" data-section="about" onmouseover="animationSetTitle('About', 'about');" onmouseout="animationClearTitle()">About</a>
     . 
    <a href="https://github.com/admtrv" target="_blank" onmouseover="animationSetTitle('GitHub', 'github');" onmouseout="animationClearTitle()">GitHub</a>
     . 
    <a href="https://www.linkedin.com/in/admtrv/" target="_blank" onmouseover="animationSetTitle('LinkedIn', 'linkedin');" onmouseout="animationClearTitle()">LinkedIn</a>
     . 
    <a href="https://www.instagram.com/admtrv/" target="_blank" onmouseover="animationSetTitle('Instagram', 'instagram');" onmouseout="animationClearTitle()">Instagram</a>
</div>


<pre id="animation"></pre>

<hr>